<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GameList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE5633D01C875CA500B3A0C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE5633E41C875CA500B3A0C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE5633EF1C875CA500B3A0C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
